

<div class="grid grid-pad">
    <div class="col-1-1">
       <div class="content">
           <h3>July Results</h3>
       </div>
    </div>
</div>

<div class="grid grid-pad">
    <div class="col-1-2">
       <div class="content">
           <h3>Total number of searches (all kiosks) </h3>
       </div>
    </div>
    <div class="col-1-2">
       <div class="content">
           <h3><%=@wcount %></h3>
       </div>
    </div>
</div>


<% @totalmalls.each do |mall| %>

<div class="grid grid-pad">
    <div class="col-1-2">
       <div class="content">
           <h3>Mall </h3>
       </div>
    </div>
    <div class="col-1-2">
       <div class="content">
           <h3><%=@mall %></h3>
       </div>
    </div>
</div>

<% end %>

